<header class="row pb-0 mb-0">
    <div class="col-md-4 mt-8">
        <div class="row">
            <div class="col-md-5 mb-2">
                <a href="index.html"><img class="mug-shot"
                        src=""
                        alt="This is me - David Hawkins"></a>
            </div>
            <div class="col-md-7 dyn-text mb-2 my-auto pl-md-5 pl-lg-0 text-nowrap">
                <h1>David Hawkins</h1>
                <h2>UX Engineer</h2>
            </div>
        </div>
    </div>
    <nav class="col-md-8 my-auto">
        <ul id="menu-links" class="list-inline text-md-right my-sm-3">
            <li class="list-inline-item mr-4"><a href="index"><i class="far fa-user"></i></a>
            </li>
            <li class="list-inline-item mr-4">
                <div class="dropdown">
                    <a class="fas fa-tv no-underline" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu dropdown-menu-center animate slideIn"
                        aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/web-dev">
                            <div class="d-flex align-self-start align-items-center px-2">
                                <i class="fas fa-code pr-2"></i>
                                <p class="p-0 m-0 text-body">Web Dev</p>
                            </div>
                        </a>
                        <a class="dropdown-item" href="/ux-ui">
                            <div class="d-flex align-self-start align-items-center px-2">
                                <i class="fas fa-pen-nib pr-2"></i>
                                <p class="p-0 m-0 text-body">UX/UI</p>
                            </div>
                        </a>

                    </div>
                </div>
            </li>

            <li class="list-inline-item mr-4"><a target="_blank" href="https://www.linkedin.com/in/uxhawk/"><i
                        class="fab fa-linkedin-in"></i></a>
            </li>

            <li class="list-inline-item mr-4"><a target="_blank" href="https://medium.com/@uxhawk"><i
                        class="fab fa-medium-m"></i></a>
            </li>

            <li class="list-inline-item"><i id="theme-btn" class="far fa-moon"></i>
            </li>
        </ul>
    </nav>
</header>