<section class="row mb-5 pb-5">
    <div class="col-md-8 offset-md-2 dyn-text mb-3">
        <h2 class=" my-3">What Next?</h2>
        <div class="card-deck">
            <div class="card w-100">
                <div class="card-body">
                    <div class="row">
                        <h3 class="pl-3">Let's Connect</h3>
                    </div>
                    <div class="row">
                        <div class="col-3 mt-2 pr-0 justify-content-between">
                            <a href="https://www.linkedin.com/in/uxhawk/" target="blank">
                                <img id="profile-pic"
                                    src="https://lh3.googleusercontent.com/a-/AAuE7mBF4TVxD0iv1LT0pT07Xe4Ie95FeUvNOR-7Ui_SHw=s192-cc-rg"
                                    alt="This is me - David Hawkins"></a>
                        </div>
                        <div class="col-9 align-items-center pl-3 pt-2">
                            <p><a href="https://www.linkedin.com/in/uxhawk/"
                                    target="blank"> <i
                        class="fab fa-linkedin-in pr-2"></i>LinkedIn</a></p>
                            <p><a href="/email"><i class="far fa-paper-plane pr-2"></i>Email</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-100">
                <div class="card-body">
                    <div class="row">
                        <h3 class="pl-3">More Projects</h3>
                    </div>
                    <div class="row">
                        <div class="btn-group">
                            <p class="dropdown-toggle w-100 ml-3 pt-2" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
                                <i class="fas fa-pen-nib pr-2"></i>UX/UI
                            </p>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/new-customer-onboarding">New Customer
                                    Onboarding</a>
                                <a class="dropdown-item" href="/android-app">Android App Design</a>
                                <a class="dropdown-item" href="/eye-tracking">Eye Trackings</a>
                                <a class="dropdown-item" href="/ecommerce">iOS eCommerce App</a>
                                <a class="dropdown-item" href="/design-system">Design System</a>
                                <a class="dropdown-item" href="/heuristic-analysis">Heuristic Analysis</a>
                            </div>
                        </div>

                    </div>
                    <div class="row pl-3">
                        <p><a href="/web-dev"><i class="fas fa-code pr-2"></i>Web Dev</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>