<section class="row mb-5 pb-5">
    <div class="col-md-8 offset-md-2 dyn-text mb-3">
        <h2 class=" my-3">What Next?</h2>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h2 class="pl-3">Let's Connect</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mt-2">
                            <a href="https://www.linkedin.com/in/uxhawk/" target="blank">
                                <img class="mug-shot"
                                    src="https://lh3.googleusercontent.com/a-/AAuE7mBF4TVxD0iv1LT0pT07Xe4Ie95FeUvNOR-7Ui_SHw=s192-cc-rg"
                                    alt="This is me - David Hawkins"></a>
                        </div>
                        <div class="col-sm-8 d-flex align-items-center">
                            <p class="m-0 p-0">Find me on <a href="https://www.linkedin.com/in/uxhawk/"
                                    target="blank" class="blue">LinkedIn <i
                                        class="fas fa-external-link-alt ml-1"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h2 class="pl-3">More Projects</h2>
                    </div>
                    <div class="row">
                        <div class="btn-group">
                            <p class="dropdown-toggle w-100 ml-3 mt-4" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
                                UX/UI
                            </p>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/ecommerce">iOS eCommerce App</a>
                                <a class="dropdown-item" href="/new-customer-onboarding">New Customer
                                    Onboarding</a>
                                <a class="dropdown-item" href="/design-system">Design System</a>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="btn-group">
                            <p class="dropdown-toggle w-100 ml-3" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
                                Web Dev
                            </p>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/web-dev.html">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>