<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link id="theme_css" rel="stylesheet" href="/css/style.css" type="text/css" media="screen">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="img/ico"
        href="https://lh3.googleusercontent.com/W_gfuhSKCuZ5g-lpoo-Jkq3cu1aZvxn_zWa0w9CghyUMvj4VMdxBez-rwuUUXjlHCfxNAyCDN9MENu533HoJWJQaDkR5SUkTSlKTcQ1ZLfRcV5q7QwaCbIPxTO1bvsnC9q5P9MohyDBG89RGEMOHQ_TVTLfK4by-7ZGLsQHtNPQovZBAGKO1YFuGDUVj2CEoxzDpoIVL8AsDgl-3p52pIizU-5-ZYd5wNy3eouO5ByQ9yeTrjNOaLQJ7ArOBJ5jGXoSijjvCq_FmXxReaKvguJ-Eyb74N8CQ7gCSf8XBIKfj7E92qLk3wXOyGIK16zLCgfEKS7JbyOasaafSxsEogFZT1KVHJt9o3J9RSkBcA7M_01n1lt6inDIhgh4mKJ-M-ZZb0LTjgZiTF0ICozSbU63Z1a6WCnnoFDdnoNP6Dn30QFpCWf_vbtEEyP2Xuqje0OhP1O4_-LXcYuSYaJ1fwAezK1hon2fz5e7Z_6nArjeKHiFCHAtxwbMX5vGgcowxNS6xaecbZi9ZBPQhj8trKePWg63fR6uLvXZN5-wKn6qshn4kDuwo9zlYpwfVihQYpoNwLLJmrc37PXfAfQfIknTCy2AG-qRRR9gleIaX6hvmDbfSPCBTLNJaV53oCA22XTZ5J2dL1Tw98NYHVrXzdu1EAEeF62pwWgjUykjhbDnQjw1wfnJbOy8UxTaTy-wrcqtvynsVhDjPLgL2gyrd09DkZCUKDSeuBcn_Z6Oli7b0eBBp7Qxz0Q=s16-no">

    <title>David Hawkins | UX Engineer</title>

</head>
<body>
    <main class="container flex-shrink-0">
        {{{ body }}}
    </main>

    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

    <!-- Optional JavaScript -->
        <script src="js/portfolio.js"></script>
</body>

</html>