{{> nav}}

<section class="mt-4 pt-4">
  <div class="text-center mt-5">
    <h1 class="text-danger"><i class="fas fa-exclamation-triangle pr-2"></i></h1>
    <h1 class="text-danger">Page Not Found</h1>
    <p class="mt-5">Please explore my <a class="blue" href="/web-dev" >Web Dev</a> or <a class="blue" href="/ux-ui" >UX/UI projects</a> instead.</p>

  </div>
  
</section>

{{> footer}}