{{> nav}}
    <section>
        <div class="row row mt-4 pt-4">
            <div class="col-md-8 offset-md-2 dyn-text mb-3">
                <h1>Design System</h1>
                <hr class="mt-1 line">
                <h2>Project Directive</h2>
                <p>A Swedish golf company initiated a site redesign during the winter offseason. As you can imagine,
                    there is not a lot of golf happening from December to March in Sweden, so it was the perfect
                    time to update styles and task flows with new content.</p>
                <p>I knew the ideal tool to guide the redesign was a design system focused on
                    <a class="blue" href="https://bradfrost.com/blog/post/atomic-web-design/">Atomic Design</a>
                    principles. Rather than picking and choosing task flows or components to update, a system built
                    from basic components (atoms) would create the most effective technique to share styles
                    with developers and review updates with client stakeholders.
                </p>
                <p>Like any application, design systems must be easy to navigate. To that end, I compared popular
                    design
                    systems like <a href="https://material.io/" class="blue" target="blank">Material</a> and <a
                        href="https://ux.mailchimp.com/patterns/color" class="blue" target="blank">Mailchimp</a> to
                    identify <a href="https://github.com/uxhawk/uxhawk.github.io/wiki/Design-System-IA" class="blue"
                        target="blank">best practices for information architecture</a>
                    and to spot slick design trends. The result, was a system of atoms, organisms, and molecules
                    that fed into templates and pages with excellent usability and aesthetic, modern appeal. The
                    design work below are mockups I created and shared with developers via <a
                        href="https://zeplin.io" class="blue" target="blank">Zeplin</a>.
                </p>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-md-8 offset-md-2 dyn-text mb-3">
                <h2>Atoms</h2>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img class="w-100 py-3 "
                            src="https://lh3.googleusercontent.com/pw/ACtC-3cQ0cDiB53Oz_0yo7ckVBMytvwcdgjoVJJ6vqZa8TPpjOarMs6qB4zAoVtJFm08weXJhXpqM1y5CKdJQU-L35Ik_rcsCGye5nIcUAZh4YpmtiFFnN09-7NM8ieqlSNR9KZjcVZqmPNt5afbh6uLiJvK=w1655-h969-no?authuser=1"
                            alt="the basic components of a website like buttons and inputs">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-md-8 offset-md-2 dyn-text mb-3">
                <h2 class="pt-5">Molecules</h2>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img class="w-100 py-3 "
                            src="https://lh3.googleusercontent.com/pw/ACtC-3e6QIXHvi0LQICK4kTkOB1gzTUZXll0YZHv1Dg9N3UnlTqQp5aUlKoSrUjazoDPA2awXnx2dUCbaN5y6SlgoAdX3fZurY4IBZ5JJH2zW46Qtm0lEIQizci7h9qBB_n-ZUMsvndOI--V3rMGGKOpYU4x=w1165-h970-no?authuser=1"
                            alt="the basic components of a website like buttons and inputs">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-md-8 offset-md-2 dyn-text mb-3">
                <h2 class="pt-5">Organism</h2>
                <div id="organism-carousel" class="carousel slide mt-3 mb-3" data-ride="carousel"
                    data-interval="false">
                    <div class="carousel-inner w-75 m-auto">
                        <div class="carousel-item active">
                            <img class="d-block w-100 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3eN-_1XwZfWdHZZJNqT1ZPoDEAhQRDVbmH1AQkPZGJvp6GL2YaszVO9M4SHC5uKF7ccEB59XZ8dYAGcSVyQUKr5mYDxGbskf2NG36nTjJHBt2ODdPRI6l7UcDjYOFldIJfy93OqgEgtFNmab-3c-k7z=w816-h562-no?authuser=1"
                                alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3cR2IOe7pqLTvLU4RuDsiKV6otF0POlLwhZqzPO85w4ld4RSMvF6syluZULdIBO6b2R1bWG2W8p49nnhKILuhbcNevGJJTk0n3lAXKkVcJNWyhStU_nXAaCl9SqD_hnOW_666moNXg5vfdoIznw5YEB=w817-h563-no?authuser=1"
                                alt="First slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#organism-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#organism-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-md-8 offset-md-2 dyn-text mb-3">
                <h2 class="pt-5">Templates</h2>
                <div id="template-carousel" class="carousel slide mt-3 mb-3" data-ride="carousel"
                    data-interval="false">
                    <div class="carousel-inner w-75 m-auto">
                        <div class="carousel-item active">
                            <img class="d-block w-100 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3cv65mYc7O2jEKKuIqYiCRyORMJAVPIwFdnxIxV099qdffqov6tEh94bHI6Bzmr89BCgaG2BGQqLmvn7N3SABHtmwz0twOVXitKA-3-Y1zeO08j3BhgAIwgbTrERVCRRZZ0jzMx-2_znxPvYX5T6GBZ=w764-h969-no?authuser=1"
                                alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3fd44g2OoiQnJySKB5dUtxYv6aZlIpo5TaBueVhDT0pzkbH5JvyeSgjas-M7A2mTrDo2qhnP9-xcqXaaEgIj0cNBEQSuaqUix3xdJdn84NvN2tSytw8nHa1GRIlEy8K-nfy-QF_M_f9uz7YXCA1BF6Q=w726-h920-no?authuser=1"
                                alt="First slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#template-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#template-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
{{> what-next}}
{{> footer}}