{{> nav}}

<form>
  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
<div class="form-group">
    <label for="emailBody">Message</label>
    <textarea class="form-control" id="emailBody" rows="3"></textarea>
  </div>

  <button id="email-btn" type="submit" class="btn btn-primary">Submit</button>
</form>
{{> what-next}}
{{> footer}}