{{> nav}}
    <section>
        <div class="row row mt-4 pt-4">
            <div class="col-md-8 offset-md-2 dyn-text mb-3">
                <h1>Form Redesign</h1>
                <hr class="mt-1 line">
                <h2 class="pt-3">Project Directive</h2>
                <p>For the outdated styles of a web form, redesign te task flows and interactions to:</p>
                <ol>
                    <li>
                        <p>Optimize UIs for small breakpoints
                        </p>
                    </li>
                    <li>
                        <p>Create an engaging product landing page.
                        </p>
                    </li>
                    <li>
                        <p>Encourage throughput by breaking the form into sizeable chunks.
                        </p>
                    </li>
                </ol>
                <h2 class="pt-3">My Contributions</h2>
                <p>As the lead UI designer, I established patterns and styles for all visual components and shared
                    style documentation with the product team.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2 dyn-text mb-3">
                <h2 class="mb-3 pt-3">Landing Page Before & After</h2>
              <div class="row">
                  <div class="col-md-6">
                      <h4 class="mb-2">Original</h4>
                      <img class="w-100 mb-3 pb-3"
                      src="https://lh3.googleusercontent.com/pw/ACtC-3dDbkECR989JtqKnYRI0_RoTKLLBvXJPQlQdDSL1e1f_kMz9YLQg-KFIcAVdAlozvqEaL5Yy-RYigqhQIcZmyTu0ItXliJFm2XmQcrMdSFeia9DMb9acWKIW-kxRC_62IvnWgIkab75nOGXEdQHLCAm=w622-h920-no?authuser=1"
                      alt="original design of an outdated website">
                  </div>
                  <div class="col-md-6">
                      <h4 class="mb-2">Redesign</h4>
                      <img class="w-100 mb-3 pb-3"
                      src="https://lh3.googleusercontent.com/pw/ACtC-3cgG2HF0NMG5d1mtK9jB31whz-KTYkXkePylhFyWBjHmiwosAyZNuXPT2S5tMMlZKcxiwxVso87S816aZcKjJBFCHgQPhlHkVC36YEdTP8dBrRQZTRbU14qf3j94x_x5YliOoKUEoi-JN-AgpwJ52mV=w622-h920-no?authuser=1"
                      alt="modern redesigned website">
                  </div>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2 dyn-text mb-3">
                <h2 class="pt-3">Original Form</h2>
                <div id="carousel-2" class="carousel slide mt-3 mb-3" data-ride="carousel"
                    data-interval="false">
                    <div class="carousel-inner w-75 m-auto">
                        <div class="carousel-item active">
                            <img class="d-block w-100 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3d2g9HDgDj2OxEK2lwFpCk3W0tONDpl0dpLlkSQqmSLaAbBe_hq1eutDRarrgL3w0r-MTwkyjbQNtRBKHHMPcn3938XJa7jKqefEzGbW1j-dLRHZ3sIyOgXcGYN7Fj9sXmYpvha8VzvKZF19Z2_so_Z=w622-h920-no?authuser=1"
                                alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3cVZTCrlxOrvNdQOzD_0Uq_hixctfLnhKO2a6B14FAxYSEfWnywGb7LuATLvFvml7CWFMtWGlBWfw1Wx251Vc9_Gzc1A9hswy1M4H5lpmxBm-T4suuwQbgFULHpO0-9qYLpucremvDqMtSNvKCIrecL=w622-h920-no?authuser=1"
                                alt="Second slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2 dyn-text mb-3">
                <h2 class="pt-3">Redesigned Form</h2>
                <div id="carousel-3" class="carousel slide mt-3 mb-3" data-ride="carousel"
                    data-interval="false">
                    <div class="carousel-inner w-75 m-auto">
                        <div class="carousel-item active">
                            <img class="d-block w-100 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3dEM4hZpOmV5xfBUpRud7ceePLnkYyS9L1Mdhj1sVAJHBIh5vnICVPwuZe5tKKuHKexm2IMVNB63FnP8k6gdWyDOcUoJdU4o5pPGpUmimZf5EkKJeGYHm4BE881QD5LACJ-Sy9JE5YoWSdCmcLLfQ0H=w1280-h800-no?authuser=1"
                                alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3c6V1ZM-ojEO8p-0UttxQu-tDUXUGS21j4lv4m9VqI7FjtmBuR7wucZ_Rk5kvp_zfcMJZ-8tJyftdctVFJ3EwmN9fESvDQ6tu3VJPLgljA-R5XeAneLAIi7THLcRAITIIiRUhdiBLzltUwhv8WQVSVH=w1280-h800-no?authuser=1"
                                alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3d34yxZCxvqXCgO2GQtkaRgextZEG9_F4dxPmklR7SLOBuzbfETEUDKVfVEjI6NC9m1xdqCX-fOLUa7MD8dBJKLW7w9ACZZBb-zstKs8C00Kr6qpN-DxgRlxNY0ef7KvXULdAdjWzde93XdZJY8Prep=w1280-h800-no?authuser=1"
                                alt="third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3cmi3hFjnImIsDYxhi60IUe7ky7-DGVzlpD9i-5xuGYHV2VV0XpioTniqsFVeQNx2k70oGBnamQmgw_pl6eoCSHmniNpFsE-vQF4qdrEmC7_waAh-CFJ6Wjr-UCWRwwXg3qFvCp0YP9qH3I5RuqerRQ=w1280-h800-no?authuser=1"
                                alt="fourth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3ceVaOo--ruNNJclOm9x3sLss1gxquxeBrvWJhk4ocoi8blH91r967V6HJx-1g1-xEYhOXEU20c5JJc_EV_gzoblBArXcbwUAv5SBLqnmQZzgJdCe7Wpl04T2izeNzWgkLAR8UH3BvuFduXnOHnpDEz=w1280-h800-no?authuser=1"
                                alt="fifth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3fTd9o5L2k-JqEvRe3d6E24rL4AwIq9Ku3yTfiRrSXnvVbdk07Qv2H2c3-Lr-SDMYPaimGsJkpxZ70J88v_mW-QY7ZjtJLWhrFipuSnLrRAIq5hZHJ8ttA_3X4kns8KzSz2x8nkUo9d8MzR-ZWIrWIs=w1280-h800-no?authuser=1"
                                alt="sixth slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel-3" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-3" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2 dyn-text mb-3">
                <h2 class="pt-3">Mobile Form</h2>
                <div id="carousel-4" class="carousel slide mt-3 mb-3" data-ride="carousel"
                    data-interval="false">
                    <div class="carousel-inner w-75 m-auto">
                        <div class="carousel-item active">
                            <img class="d-block w-75 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3enN5bT4SQ7uJfutIF8GzO8q25u19oXBoIoiWCn2xV3yLWT-l7RlIXF_cTmWa5gn3OUl242rxGriaWM8rtkijAUW4B-O23LRVsXZsg1Z5FV5nr-tiwnv3o6V3NqIgT5F7S5q-8UdeyoNnFj6dPwNkIv=w414-h800-no?authuser=1"
                                alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-75 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3e4UvIWcrqDKsiCKjpr-_U4uBpEJ4BYgzD6rev6ov3w6IhLGtYB_0wb-FCZAMPv6DeZkkq3R49zD8fi5yyaa7wW_10HX-XVeZ_XfJDV5nbgwR8sh2mG7kKIy3a_XSnLkYe0pbvCDfiSGUJ5gH9ghxZi=w414-h800-no?authuser=1"
                                alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-75 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3fY0eb2tNkuKner0SjvoKOhvwpB2bYabJ9yPgfWtPCMFjH1289L1Kyfpa7TNjYWcbplSPF8xusnNatGEUbqGZTox5Tw9c-SvLtpk76DWJ6nk3vXBko5Z1ZQcM8ytqDZBth_xGMIaLmrTgpusMYLg15_=w414-h800-no?authuser=1"
                                alt="third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-75 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3f8uTPr-MNPyDJU9Oregyg-Mt8npRq1zncn5mWncIcD0-FvKPQcopsdxzC4SVG2wm61R61jt6jr5BbEHujqtt_uzeYF8aESIlAgod4cGZNk265KMJZ4Df616EBLKp7yDVTML0qusN17m4aqENAreHdN=w414-h800-no?authuser=1"
                                alt="fourth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-75 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3f-h_fPySY6Xsq-Oc9bKQu19e9WHCvUly3WkBL86wWJNVIbobLmF4ypnWOL5XjuZ1_ChTydhwu_nc6M2JnEdE5ato7S2jygjQXmCj0BYweDlEYvjK7yLYtQdMeNry0I167vX7N1qnW2x3kPn8saGkya=w414-h800-no?authuser=1"
                                alt="fifth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-75 m-auto carousel-img"
                                src="https://lh3.googleusercontent.com/pw/ACtC-3eh17UeOxtKX6hvySJE_0DLGNdfLFve5PXOzJgTSXVyzj474bpSPPf_CNeXr3DPVmUYtEzbh2f0zMu_Xj3Dsq3NljeWUKzqsvKMEBiIEUfHI_YE4QRGJbgcGANNAnq6oPjhPSmtd-sCEA7iMQA_Y88u=w414-h800-no?authuser=1"
                                alt="sixth slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel-4" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-4" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
{{> what-next}}
{{> footer}}