{{> nav}}
    <section>
        <div class="row">
            <div class="col-md-8 offset-md-2 dyn-text mb-3">
                <h1>Air Canada Heuristic Evaluation </h1>
                <hr class="mt-1 line">
                <h2 class="pt-3 mb-0">Project Directive</h2>
                <p>Assess the usability of Air Canada's mobile application and create a customer journey map for
                    customers:</p>
                <ul>
                    <li>
                        <p class="p-0 m-0">Shopping for flights</p>
                    </li>
                    <li>
                        <p class="p-0 m-0">Tracking flight of friends and family members</p>
                    </li>
                </ul>
                <p>The Nielsen Norman Group's <a class="blue"
                        href="https://www.nngroup.com/articles/ten-usability-heuristics/" target="blank">10
                        Usability Heuristics for User Interface Design</a> served as the basis for the analysis of
                    the application's usability. Understanding the strength's and shortcomings of common task flows
                    within the application are essential before iterating through wireframes, prototypes, and high
                    fidelity designs.</p>

                <h3 class="pt-3">Booking a Trip</h3>
                <p class="pb-3">The first screens I evaluated were users that needed to book a flight.
                </p>

                <table class="table border-bottom mt-3">
                    <thead class="">
                        <tr>
                            <th class="narrow-th" scope="col"></th>
                            <th scope="col">
                                <p class="p-0 m-0">Heuristic</p>
                            </th>
                            <th scope="col">
                                <p class="p-0 m-0">Observation</p>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <p class="p-0 m-0">1</p>
                            </th>
                            <td>
                                <p class="p-0 m-0">Efficiency of Use</p>
                            </td>
                            <td>
                                <p class="p-0 m-0">A flight search takes​ numerous variables into account. The​
                                    “Recents” link allows users to quickly recall complex previous searches.</p>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">
                                <p class="p-0 m-0">2</p>
                            </th>
                            <td>
                                <p class="p-0 m-0">Visibility of System Status</p>
                            </td>
                            <td>
                                <p class="p-0 m-0">Segmented controls make it difficult to identify current
                                    selection.
                                    Does black or white mean it’s selected?</p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <p class="p-0 m-0">3</p>
                            </th>
                            <td>
                                <p class="p-0 m-0">Understandable Interface Objects</p>
                            </td>
                            <td>
                                <p class="p-0 m-0">Icons in form fields quickly and accurately relay significance.​
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">
                                <p class="p-0 m-0">4</p>
                            </th>
                            <td>
                                <p class="p-0 m-0">Error Prevention
                                </p>
                            </td>
                            <td>
                                <p class="p-0 m-0">Users should not be able to select invalid starting points and
                                    destinations.​</p>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-10 offset-md-1 text-center"> <img class="w-100 py-3 my-3"
                            src="https://lh3.googleusercontent.com/pLKTbN_rCs6wHc50PTqFt3jYu7KWQDgMjLv3e2ygofSrFXiUs3Q4u2PyDQneivJEPWnvhrktsrrPgz7NQRqlUFZkgynkrp27TwK4ug9LcpQdTxgsuHNAG5XzqjiAQm3kKQ1gjWnnmUOfaqPpY-snfr89THaPJiCZ5QhZV2NVsOfOCkqseMsnDN0BIBk8GI1JRm63dEiA5xk-UqAfzl1xdEM20-IjX_gbYv7Ep-8jPBcsHNxMUtBgBYjY9AqUMbTNCPABLc28Q6MsUAfbyyh-82UBMHh_Vz76AKLBI0kZoFfhXBUCYuUUQFXaJy0eKLlQm0htR0DxGzQC-Mn30EfYtwbNNFhcU8gs3GEx9evRdcO8CZhQsY3WpadVc1N5exArr9b0WhOMD4EVJrJs7n5AiBjZpgojMm88rD8S6KB3l4i0sLYHjaOIyMNy1oxo-F29Og-Bd24Ee5wMVB_W-GmhH5cRjqVSSOeTTYEifThKmj8jbQKazO0D4eIpHpKwh2jx83BN80y8HZ0JPsYbx9ZgIjAQph3U60itNlU4mVuRrre73GEV4EVDaX_Sznz6oZpKiOEs56GzyeF6bT7DwgqtqeZYPdGYKuD7kxl0uWOkBre2YrfAy39WX3C7iyK_eyRKwDPHtwteMNPhub1FQgKk4wXzenBnkhMvHa38MqCVmAhBeRQOHBRu_uDxMhSXPk4lyKvQaXPk5E9TL8y-e4PyOwhXYJ2pRyTtAxraVlYQxXRY_6G2=w1374-h1132-no"
                            alt="booking a trip page in air canada app">
                    </div>
                </div>

                <h3 class="pt-3">Selecting Specific Flights</h3>
                <p class="pb-3">Next, I reviewed the pages in the task flow where users chose departing and
                    returning flights.
                </p>
                <table class="table border-bottom mt-3">
                    <thead class="">
                        <tr>
                            <th class="narrow-th" scope="col"></th>
                            <th scope="col">
                                <p class="p-0 m-0">Heuristic</p>
                            </th>
                            <th scope="col">
                                <p class="p-0 m-0">Observation</p>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <p class="p-0 m-0">1</p>
                            </th>
                            <td>
                                <p class="p-0 m-0">User control and freedom</p>
                            </td>
                            <td>
                                <p class="p-0 m-0">Flight searches often have hundreds of results. Narrowing results
                                    to specific requirements expedites decision making.</p>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">
                                <p class="p-0 m-0">2</p>
                            </th>
                            <td>
                                <p class="p-0 m-0">Recover from Errors / Flexibility</p>
                            </td>
                            <td>
                                <p class="p-0 m-0">It’s easy for users to see if they chose the wrong date and
                                    identify which departure dates are cheapest.​</p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <p class="p-0 m-0">3</p>
                            </th>
                            <td>
                                <p class="p-0 m-0">Discoverability</p>
                            </td>
                            <td>
                                <p class="p-0 m-0">What is the difference between Flex and Latitude? Any attempt to
                                    hide complexity will serve to increase it.​
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-10 offset-md-1 text-center"> <img class="w-100 mb-3 py-3 my-3"
                            src="https://lh3.googleusercontent.com/YZiuNk5UYDg6LcgatFnGIvhIfMedjXl562kWq0soib0ta-aOwceVF_Oys3MByv_PJ3huwAPjsFXx2a850SBCbDPwCULINdMzEslVa-NEkNmuvQcN9nFqyQ6rDGHKhpbdZCakX88ebirSna1JFSOUx7s8yJT9FWH0MUKb5GVaLQpAGZBC7yVG63bIZAS4yv_M4ggFhYTlwnxgREiCeUvkEQ3fQpcbzujNS8ZSqZp6xRPh-SJG9rE2xbjE8K224C-iuUe0cIiYVnScnoirV27uoA8bfrxuTpvDW0h7MkJo4jsG0cMy7A3SR0usdFmC9Y9zpY6UXXgR1vQ0RJXgMcSPp0kJkfFkOMQ-SaeMfF7gVSHTuqYof6gjODL1nPHNLTfYoqBn4qJa4EIB7mMb75ceezPuoZTaB_pGS911fBa6XjHoVpzMv2PMn1V2rZ2pxdk11L6HPboXHQ49I60okWuSPi6UtS7UoyiS0ynO-wQogq1a9a79dC5_RKxNMFdxIw7m9muZ27M2BU_YxWIQvUqP885VzhUUlEzIVoH-zpBhSFDlO82BgYXsrH9zAfYiQAGb78_lamr0EFYl9_jrvyDZpUVon84lp8Qt-AwONudGZD0ZURVpB9zkx4-HJqfcj3X3B_CoCWP2fADhsGPF2mi0iJhnI7jRqg9w1imDfWwJQ5XtRjdvePy8h2o=w1430-h1134-no"
                            alt="booking a trip page in air canada app">
                    </div>
                </div>

                <h3 class="pt-3">Customer Journey Map</h3>
                <p>After reviewing the basic transactions within Air Canada's travel app, I had a good understanding
                    of how a user would feel throughout their shopping and travel experience. I created a customer
                    journey map that closely considered pain points from the heuristic evaluation.</p>

                <div class="row">
                    <div class="col-md-12 text-center"> <img class="w-100 py-3 my-3"
                            src="https://lh3.googleusercontent.com/guum41LUtSrsz_3RG3kIPDrln9ntDdzkFFrQiN8aSV_9AeXDkMHUqWy-FhrEkUKLBLNUO8hX1NF6VTJ2QpP68NBMymJ1ihKjqITzMmBpNyIpABFNiVHXb73MGBAJdIMOMjsLHo7ZGRl4cEY9MtFD3yTrxzCvSquI5V6sE7xAYlMW_os2bVdJJVPbcTlEMl3r7dJWEOo3aMzGpPKxXWvCkjUIX45uY-RWh4gir0mLp6XiG00dIlp_yUfNwg19mRYcldk_cE34FZDe5LX8RyshN1Zn3CvLC3q9mksMqQf4lceC-5I-PnBjO60RodU9jfRazlfl5oGIv5EcuVtXS7OfgFOHh5d0EaDbj63IHFXKN9eYOnE8qireQpoTjnr-CZ10eyrAhi5mJfipmA7Qv0w1QCTgpZeEUOn7y8RQ4oTVTPOqnwdZTSBZHZms5VQGZ_17m5WNfhvo31cxEFAocdxTHogbk8O_vnvEDynqHkbzX3XzJsNkxkmAwMhJsZAMm9oi_0JuOBRIU4q1MYmrw3TUqwxIBD8i_6DqSyL3g3VaEUunVcw5Ah7KmKxq5UkiVkSEiPRFjklZ93Mlr1dQfa0ynsxGRbZI4Wv2LN-SYGl-1pymALlkfPmlQ8-czDH6zKRdEweE1aIenFanuuXrHNOLUCh6VTCtW_8URSoa-iwdNaaKRusEBGsh0X8GuA6Ggff183hrpmf1U_UXlgl6lJ8GA1bJnaGJWrUA6IZvYSyJCxH02EK1=w2430-h1342-no"
                            alt="booking a trip page in air canada app">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <iframe
                            src="https://onedrive.live.com/embed?cid=DAF2808321EEBEFD&amp;resid=DAF2808321EEBEFD%212751&amp;authkey=ADsJXKJ443g9d5g&amp;em=2&amp;wdAr=1.7777777777777777"
                            width="100%" height="565px" frameborder="0">This is an embedded <a target="_blank"
                                href="https://office.com">Microsoft Office</a> presentation, powered by <a
                                target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{> what-next}}
{{> footer}}