{{> nav}}
  <section class="row mt-4 pt-4">
      <h1 class="w-100 mb-5 pl-4">UX/UI Design</h1>
      <div class="col-md-6">
          <div class="card mb-5 w-90 mx-auto">
              <!-- Card image -->
              <div>
              <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3fJQfLl_CuOzXqXIi8CJ0fBbAYCE6ng1Kd4Bhl9EEpc5Y1pMR7D1ipmutsjSV-0DxNYuvVPM8ivSrNS4pBFyWcq57_AVPPNwu_xwJqyL2-ClYVTvRe71gUvjmwWOSrrdTnP7uqgV3SaoSlD8QuUudLM=w1400-h800-no?authuser=1" alt="comci book style exclamation">
              </div>

              <!-- Card content -->
              <div class="card-body text-center">
                      <h4 class="mt-2">New Customer Onboarding</h4>
                      <!-- Text -->
                      <p>User research and usability testing to optimize UX for overwhelmed and confused customers.
                      </p>
                      <a href="/new-customer-onboarding" class="btn btn-primary">View Project</a>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card mb-5 w-90 mx-auto">
              <!-- Card image -->
              <div>
              <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3fJ_c5_qaTLCK2UDyzsXGkLnh6HGBybFI5i1bRewvbRqyoK-KiCCwW_GcNLaa5P7CZQWSyVWofhJfH4NZBLhosReI0UNXS1hZgpAflyP_ipemGkbeEqAaZ9mxyj8BHbGB5Pi9O-N9-pTpJd-aIyiO-e=w1400-h800-no?authuser=1" alt="video game style car engine">
              </div>
              <!-- Card content -->
              <div class="card-body text-center">
                      <h4 class="mt-2">Android App Design</h4>
                      <!-- Text -->
                      <p>A mobile app for users to stay up to date with their vehicle's maintenance needs.
                      </p>
                      <a href="/android-app" class="btn btn-primary">View Project</a>
              </div>
          </div>
      </div>            
  </section>

  <section class="row mt-4 pt-4">
      <div class="col-md-6">
          <div class="card mb-5 w-90 mx-auto">
              <!-- Card image -->
              <div>
              <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3e1n7-xLC1stzKRUOs4qidfaOVDTJ-xVinGSqtnFh1BSvb2f2pOIp8WIO5BLzrhX4RivwBst69VlCjXsaAW8gcc5cLkM8r3Lb4LGUw8JEI4hKNgk_i5Llxn5wyRvwWxSo7vYjkLMyR-TOsn6mjpFVnv=w1400-h800-no?authuser=1" alt="eye tracking data visualization">
              </div>

              <!-- Card content -->
              <div class="card-body text-center">
                      <h4 class="mt-2">Eye Tracking</h4>
                      <!-- Text -->
                      <p>A usability research project with the collection of both objective and
                          subjective UX data.
                      </p>
                      <a href="/eye-tracking" class="btn btn-primary">View Project</a>
              </div>
          </div>
      </div>
      <div class="col-md-6">
              <div class="card mb-5 w-90 mx-auto">
                  <!-- Card image -->
                  <div>
                  <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3fskrnry0SVU4EvgIFsQ3ML-29t0GAol996CXjFVu2spPrVxsquuCSZzFtVCvahrtYMEfzJlA8WFcaPJnuQuBdX70UBzyWHSA6OVxddw2JzDtKh06wm25qtMQsJyqWWbEHvB-cEA52767lnzCTaAjrD=w1400-h800-no?authuser=1" alt="website logo for a grocery store">
                  </div>
                  <!-- Card content -->
                  <div class="card-body text-center">
                          <h4 class="mt-2">iOS eCommerce App</h4>
                          <!-- Text -->
                          <p>An iOS grocery shopping app for restaurant owners and caterers.
                          </p>
                          <a href="/ecommerce" class="btn btn-primary">View Project</a>
                  </div>
              </div>
      </div>            
  </section>

  <section class="row my-4 py-4">
      <div class="col-md-6">
      <div class="card mb-5 w-90 mx-auto">
          <!-- Card image -->
          <div>
          <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3cQY5F1XJD4ysgRFnSz_0Mc9cN55OYQIF8fjHq0JqV4ac57H_UcRsEiJo-xalZ2NrSaXhy_W30dXGYGBd_hdqtbYgBKQJFuCuqYRyvT_c9NoL6IfSccoG-AzjHybMzNuGpiUESV1B0JaGv8A6UNdT7X=w1400-h800-no?authuser=1" alt="homepage for a golf website">
          </div>

          <!-- Card content -->
          <div class="card-body text-center">
                  <h4 class="mt-2">Design System</h4>
                  <!-- Text -->
                  <p>A design system built form the ground up using Atomic Design principles for a Swedish golf company.
                  </p>
                  <a href="/design-system" class="btn btn-primary">View Project</a>
          </div>
      </div>
      </div>
      <div class="col-md-6">
      <div class="card mb-5 w-90 mx-auto">
          <!-- Card image -->
          <div>
          <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3fxCmBUXIg2ShhdeG_kDjYPFsM6947k_g0nmRW163Wcjpr-xz5ic8Vw_5BAkEHPzUqmDEh1F1W63P_2G3jyFxyeU-QqkcN9y-42xjY3TRYrO1pK7FVCYeDwpU_3gRB6lGhF8NyaySAuXpWOrtIlQIU2=w1400-h800-no?authuser=1" alt="air canada logo">
          </div>

          <!-- Card content -->
          <div class="card-body text-center">
                  <h4 class="mt-2">Heuristic Analysis</h4>
                  <!-- Text -->
                  <p>A journey map and heuristic analysis for Air Canada's mobile application.
                  </p>
                  <a href="/heuristic-evaluation" class="btn btn-primary">View Project</a>
          </div>
      </div>
      </div>            
  </section>
{{> footer}}