{{> nav}}
    <section class="row mt-4 pt-4">
        <h1 class="w-100 mb-5 pl-4">Web Dev</h1>
        <div class="col-md-6 mb-5">
            <div class="card mb-5 w-90 mx-auto">
                <!-- Card image -->
                <div>
                <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3ft09y-q9l2Fgqxjh2Tiljf_fbmIRBTKH96iHkxxMbc2CfAT9Q0eQIJtMI1UlThMZQPnlE8jNr4AodV3xDY3LSPXm11S6h3So3iWuPruJm9JCLZVF7A73eq-DaNujP2pHCYE3R5WqhSFtXeQo6fDYU4=w1400-h800-no?authuser=1" alt="application login screen">
                </div>

                <!-- Card content -->
                <div class="card-body text-center">
                        <h4 class="mt-2">Lrn It</h4>
                        <!-- Text -->
                        <p>Become a global citizen and learn languages using IBM Watson's language translator API.
                        </p>
                    <a href="https://github.com/uxhawk/project-2" class="btn btn-primary" target="blank">View Project<i class="fas fa-external-link-alt pl-2"></i></a>
                        
                </div>
            </div>
        </div>    
        <div class="col-md-6 mb-5">
            <div class="card mb-5 w-90 mx-auto">
                <!-- Card image -->
                <div>
                <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3fKoDIJ6MXxDxXLVq6GiFX7xqmd0kIMO3R8HI0jSUDKTiikmraQicD0BxSbaWeOZ4EQCVwfAykn6iqTdZeyrWjcl6WNyQ4BVv9Qay2xPfxV-RQSfndMi7VJJv6RggRaYat1lLcsg3OylTmyfksvTDpH=w1400-h800-no?authuser=1" alt="cards breaking down budgets">
                </div>

                <!-- Card content -->
                <div class="card-body text-center">
                        <h4 class="mt-2">Settle Up</h4>
                        <!-- Text -->
                        <p>This app helps people split costs for things like a night out or a weekend
                            trip.
                        </p>
                        <a href="https://uxhawk.github.io/bill-splitter/" class="btn btn-primary" target="blank">View Project<i class="fas fa-external-link-alt pl-2"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-md-6 mb-5">
            <div class="card mb-5 w-90 mx-auto">
                <!-- Card image -->
                <div>
                <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3c0MqQap8_1kfeM1KrBpO09Emm_8Brc535HVLY8s7NL3EgZZltMw3j_uyqLMWX-bXdB7a-00VEoN8p9FvOdFft3IvyciTs9TOttXfvzS9-1fqyMwn4BZorxon6bFpPhraqKDUyJ7I5LrppbYqdoEkH-=w1400-h800-no?authuser=1" alt="sunglasses on a blue background">
                </div>

                <!-- Card content -->
                <div class="card-body text-center">
                        <h4 class="mt-2">Cool Things</h4>
                        <!-- Text -->
                        <p>Integrated multiple client and server-side APIs along with Bulma CSS to
                            deliver custom
                            search results to
                            users.
                        </p>
                        <a href="https://github.com/uxhawk/Project-1" class="btn btn-primary" target="blank">View Project<i class="fas fa-external-link-alt pl-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card mb-5 w-90 mx-auto">
                <!-- Card image -->
                <div>
                <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3evF4007wiIUvoPZsPSQ-ZnfAXMok_m9CumtOxxJZCC7uqVne1P9FLAX10m98enidcCYzahXQZ6ngqQsOCqX33AP3clYTJ8d2p5-1xE5vMXZe5rm0SLDvBueimbypx4mL0rQsLlYuzYSIXIZHIj0cg-=w1400-h800-no?authuser=1" alt="a list of notes">
                </div>

                <!-- Card content -->
                <div class="card-body text-center">
                        <h4 class="mt-2">Note Taker</h4>
                        <!-- Text -->
                        <p>Take notes. Save notes. Access anywhere.
                        </p>
                        <a href="https://github.com/uxhawk/10-note-taker" class="btn btn-primary" target="blank">View Project<i class="fas fa-external-link-alt pl-2"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-md-6 mb-5">
            <div class="card mb-5 w-90 mx-auto">
                <!-- Card image -->
                <div>
                <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3c5CLxuD_kabKfXLv4kGT8rJ3euGPbtzmZMrcMTr6cM2lugbSgCBE_5bnt6esH8wb9Y_wJg6aDNnLBXD7hP3OTtvHlbNj4ek-RtomD_c0wxGjJ_JpRV_FMLKr8Qy_6dFEr3W67rGrQo4T3ewYHf0jID=w1400-h800-no?authuser=1" alt="input fields to generate a password">
                </div>

                <!-- Card content -->
                <div class="card-body text-center">
                        <h4 class="mt-2">Password Generator</h4>
                        <!-- Text -->
                        <p>Custom Password generator with strength calculator from Dropbox's API.
                        </p>
                        <a href="https://github.com/uxhawk/03-pw-gen-alt" class="btn btn-primary" target="blank">View Project<i class="fas fa-external-link-alt pl-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card mb-5 w-90 mx-auto">
                <!-- Card image -->
                <div>
                <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3dvp9vL2vrdyMqpzQte7PTuPrfDCKPQqlSrcpe7Db0LEVY-NsXXqaL_YQOTlyRVEHhF9oTNsvIIfeOyIjyFrV7czaJWPD2XLxPaL0Hl7lqpDf0-vkpd18mw4MkwqEmab6Kh5naFRBNW2qWxEegyQ-8E=w1400-h800-no?authuser=1" alt="quiz questions in a list">
                </div>

                <!-- Card content -->
                <div class="card-body text-center">
                        <h4 class="mt-2">Javascript Quiz</h4>
                        <!-- Text -->
                        <p>An interactive quiz to test your knowledge of all things Javascript.
                        </p>
                        <a href="https://github.com/uxhawk/04-js-quiz" class="btn btn-primary" target="blank">View Project<i class="fas fa-external-link-alt pl-2"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-md-6 mb-5">
            <div class="card mb-5 w-90 mx-auto">
                <!-- Card image -->
                <div>
                <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3fpZ_x4sW8PnAnFCOH4dEqJ3xmImJnKYqbjPVKj-g4wWNzdV2HWtAYDYyVpwBtFFfiyNjc9CBxwYHGyx3q3tWfObCIXcVXouKJqPsVeW9CiNOcuhu1onXIZu7MxhkGCuedCqbF6-bAKFuurG2gsviY6=w1400-h800-no?authuser=1" alt="a weather forecast">
                </div>

                <!-- Card content -->
                <div class="card-body text-center">
                        <h4 class="mt-2">Weather Dashboard</h4>
                        <!-- Text -->
                        <p>Get the current weather and forecast for cities around the world.
                        </p>
                        <a href="https://github.com/uxhawk/06-weather-dashboard" class="btn btn-primary" target="blank">View Project<i class="fas fa-external-link-alt pl-2"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card mb-5 w-90 mx-auto">
                <!-- Card image -->
                <div>
                <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3eFN8x1N-7KCtV8XCkIXEDpiOkYBhpkDBHOZCvnJJj7v0D4EWuvjSrp6ceA6NZwyvGwbnNTOsAc6J4hNlLfaI6UcvC3Kng33jKXZzDd9aNq2SQuTEgMLVbWbVWFli3TNLmGcU3WFFqSovCy3IJfayym=w1400-h800-no?authuser=1" alt="cards displaying HR dertails about employees">
                </div>

                <!-- Card content -->
                <div class="card-body text-center">
                        <h4 class="mt-2">Team Profile Generator</h4>
                        <!-- Text -->
                        <p>Create profiles for members of a software development team.
                        </p>
                        <a href="https://github.com/uxhawk/09-template-engine" class="btn btn-primary" target="blank">View Project<i class="fas fa-external-link-alt pl-2"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="row mb-4 pb-4">
        <div class="col-md-6 mb-5">
            <div class="card mb-5 w-90 mx-auto">
                <!-- Card image -->
                <div>
                <img  class="img-rounded" src="https://lh3.googleusercontent.com/pw/ACtC-3cv5L9CzL9aZZqwEM8ANtS1lzAqgNN1oEKsJvrGjS4AuDaYBV2VvuJrAXmUU7Ll5C10wZSgl3v6NeI12h9MfNExPagOveaUaDhv8Xm2o5s8WnaLW8mDcHIEd1vGbRumEcTy4lj1Np2kGyr1n0kLMh9_=w1400-h800-no?authuser=1" alt="a hamburger order form">
                </div>

                <!-- Card content -->
                <div class="card-body text-center">
                        <h4 class="mt-2">Eat Da Burger</h4>
                        <!-- Text -->
                        <p>Use MySQL, Handlebars, and Express to create and "eat" burgers.
                        </p>
                        <a href="https://github.com/uxhawk/12-burger" class="btn btn-primary" target="blank">View Project<i class="fas fa-external-link-alt pl-2"></i></a>
                </div>
            </div>
        </div>
    </section>
{{> footer}}